.card__box {
  height: 34.5rem;
  width: 20rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 20rem;
  height: 32rem;
  background-image: url("../assets/card.png");
  background-size: 20rem 32rem;
  padding: 1.5rem 3rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.pre__heading {
  color: var(--text-color-dull);
  font-size: var(--font-small-size);
  margin-bottom: .3rem;
}

.card__heading {
  color: var(--text-color);
  font-weight: var(--font-bold);
  font-size: var(--font-header-size);
  margin-bottom: .2rem;
}

.card__subheading {
  color: var(--text-color);
  font-weight: var(--font-bold);
  font-size: var(--font-subheader-size);
  margin-bottom: 1rem;
}

.subtext {
  color: var(--text-color-dull);
}

.size__icon {
  width: 5rem;
  height: 5rem;
  background: var(--accent-default);
  border-radius: 50%;
  position: relative;
  left: 77%;
  bottom: -45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.text__1 {
  color: var(--background-color);
  font-size: 2.6rem;
  line-height: 1.5rem;
  margin-top: .7rem;
}

.text__2 {
  color: var(--background-color);
  font-size: var(--font-subheader-size);
  line-height: 1.5rem;
}

.to-buy__subtext {
  color: var(--background-color);
  font-weight: var(--font-normal);
  font-size: .8rem;
}

.to-buy__button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  color: var(--accent-default);
  text-decoration: underline dashed;
  cursor: pointer;
}

.card:hover {
  background-image: url("../assets/card_hover.png");
}

.card:hover .size__icon {
  background-color: var(--accent-default-hover);
}

.to-buy__button:hover {
  color: var(--accent-default-hover);
}